html{
	font-size: $baseFontSize;

	@include tablets {
		font-size: $baseFontSize - 1px;
	}

	@include phones {
		font-size: $baseFontSize - 2px;
	}

}

body,
html {
	height: 100%;
}

body {
    font-family: Alegreya Sans, Arial, Helvetica, sans-serif;
    line-height: 1.42;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    position: relative;
	color: $body;
}

button {
	border: none;
	cursor: pointer;
	background: transparent;
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
    margin: 0;
    li{
        list-style: none;
    }

}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
    display: block;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}


.container {
	margin: 0 auto;
	width: 95%;
	max-width: $containerWidth;
	position: relative;
}

.wrapper{
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

table{
    border-collapse: collapse;
}


footer{
    position: relative;
    width: 100%;
}


