$containerWidth: 1100px;
$baseFontSize: 18px;

$black:#292929;
$body:#666666;
$white:#FFFFFF;
$z-fixed-menu: 100;

@import "./media.scss";

$tablets: 768px;
$phones: 480px;

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap');

@import "./base.scss";
@import "./blocks/hero";
@import "./blocks/menu";
@import "./blocks/header";
@import "./blocks/features";
@import "./blocks/feature";
@import "./blocks/btn";
@import "./blocks/section";
@import "./blocks/headline";
@import "./blocks/benefits";
@import "./blocks/benefit";
@import "./blocks/reviews";
@import "./blocks/interactiv--avatar.scss";
@import "./blocks/order--section";
@import "./blocks/form";
@import "./blocks/radio";
@import "./blocks/fixed--menu";
@import "./blocks/map";
@import "./blocks/footer";
@import "./blocks/hamburger";
@import "./blocks/slider";
@import "./blocks/dropdownmenu";
@import "./blocks/fullscreenmenu";
@import "./blocks/team";
@import "./blocks/modal";















