@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

body,
html {
  height: 100%;
}

body {
  font-family: Alegreya Sans, Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 1100px;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.maincontent {
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  will-change: transform;
}

table {
  border-collapse: collapse;
}

footer {
  position: relative;
  width: 100%;
}

.hero {
  background: url(./../img/surfboard.svg) center center/contain no-repeat;
  height: 100%;
  min-height: 26.6666666667rem;
  color: white;
  background-size: cover;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .hero {
    background: url(./../img/surf.svg) center center/contain no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    background: url(./../img/surf.svg) center center/contain no-repeat;
    background-size: cover;
  }
}

.hero__title-section {
  width: 45%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.5555555556rem 0 3.5555555556rem 0;
}

.hero__main-title {
  font-size: 2.6666666667rem;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 0.9444444444rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    padding: 0 5%;
  }
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    padding: 0 0;
    font-size: 1.6666666667rem;
  }
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 2.1666666667rem;
  font-weight: 400;
}

.menu {
  margin: 0 1.1111111111rem;
  padding-top: 0.2777777778rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu--vertical {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .menu--vertical {
    display: block;
  }
}
.menu--vertical .menu__item {
  margin-right: 0;
}
.menu--vertical .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-bottom: 0.5555555556rem;
  margin-right: 1.2222222222rem;
}
.menu__item :last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}
.menu__link:hover {
  text-decoration: underline;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.phone-number {
  font-size: 1.2222222222rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon-elem {
  height: 0.7222222222rem;
  width: 0.6666666667rem;
  margin-right: 0.3333333333rem;
}

.phone-number__text {
  white-space: nowrap;
}

.phone-number__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phone-icon {
  height: 0.6111111111rem;
  width: 1.3888888889rem;
  fill: white;
  stroke: white;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 1.8333333333rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 1.8888888889rem;
  margin-right: 0.7777777778rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 5rem;
}

.btn {
  width: 8.2777777778rem;
  font-size: 0.8888888889rem;
  font-weight: bold;
  padding: 1.1666666667rem 2.2777777778rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  border: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn--theme--yellow {
  background: #FEDB3F;
  color: #292929;
}
.btn--theme--yellow:hover {
  color: #FFFFFF;
  background: #292929;
}
.btn--theme--transperent {
  background: transparent;
  color: white;
  text-transform: none;
}
.btn--theme--transperent:hover {
  color: #292929;
}

.section {
  height: 100%;
  min-height: 36.1111111111rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section--font-color--white {
  color: #FFFFFF;
}
.section--font-color--white .section__title {
  color: inherit;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 2.9444444444rem;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .section__title {
    margin-top: 1.3888888889rem;
    margin-bottom: 1.3888888889rem;
  }
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 0.5555555556rem;
}

.headline__subtitle {
  padding: 0 30%;
  margin-bottom: 2.2222222222rem;
}
@media screen and (max-width: 768px) {
  .headline__subtitle {
    padding: 0 22%;
  }
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits_item {
    padding: 0;
    margin-bottom: 1.6666666667rem;
  }
}
.benefits_item:before {
  content: url(../img/separator.svg);
  position: absolute;
  top: 3.3333333333rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 480px) {
  .benefits_item:before {
    display: none;
  }
}
.benefits_item:first-child {
  padding-left: 0;
}
.benefits_item:last-child {
  padding-right: 0;
}
.benefits_item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.benefit__image--wrapper {
  display: inline-block;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 0.5555555556rem;
}

.benefit__icon {
  height: 3.7777777778rem;
  width: 3.7777777778rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #292929;
  margin-bottom: 1.1111111111rem;
}
@media screen and (max-width: 480px) {
  .benefit__title {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .benefit__image {
    margin-right: 0.6666666667rem;
  }
}

@media screen and (max-width: 480px) {
  .benefit__decs {
    padding-right: 3.8888888889rem;
  }
}

.reviews {
  height: 100%;
}
.reviews__title--wrap {
  font-weight: bold;
  font-size: 2.6666666667rem;
  color: #292929;
  margin-bottom: 1.7777777778rem;
  text-align: center;
  text-transform: uppercase;
}
.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.reviews__list--wrap {
  background: #F8FAF9;
  padding: 2.3333333333rem;
  margin-bottom: 0.7777777778rem;
}
.reviews__authors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.author {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.3333333333rem;
}
.author:last-child {
  margin-right: 0;
}
.author--active {
  border: 0.3333333333rem solid #FEDB3F;
  -webkit-transform: 0.3s;
          transform: 0.3s;
}
.author:hover {
  border: 0.3333333333rem solid #FEDB3F;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .review {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.review__active {
  position: static;
  opacity: 1;
}
.review__img {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
}
.review__img--wrap {
  width: 67%;
  margin-right: 2.2222222222rem;
}
@media screen and (max-width: 768px) {
  .review__img--wrap {
    margin-right: 0;
    width: 7.2222222222rem;
    height: 7.2222222222rem;
  }
}
.review__content {
  padding: 1.5555555556rem 0;
}
.review__title {
  color: #292929;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.7777777778rem;
  margin-bottom: 0.7777777778rem;
}
.review__text {
  color: #666666;
  margin-bottom: 1.3888888889rem;
  width: 66%;
}
@media screen and (max-width: 768px) {
  .review__text {
    padding: 0 0.4444444444rem;
    width: 100%;
  }
}
.review__author {
  font-weight: 500;
  font-size: 1rem;
  color: #292929;
}

.interactiv--avatar {
  height: 4.1111111111rem;
  width: 4.1111111111rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactiv--avatar--active {
  border-color: #FEDB3F;
}

.interactiv--avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactiv--avatar__img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order--section {
  background: url(./../img/surfer.svg) top 5% center/contain no-repeat;
  background-color: #1968B1;
  height: 100vh;
  min-height: 26.6666666667rem;
  color: white;
  background-size: cover;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    padding: 0 20%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.9444444444rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .form__row {
    margin-bottom: 0.7777777778rem;
  }
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.9444444444rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6111111111rem;
  border-radius: 0.2222222222rem;
  border: solid 0.1666666667rem transparent;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.1666666667rem 0.6111111111rem;
  }
}
.form__input--textarea {
  height: 10.3888888889rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 4.5555555556rem;
    resize: none;
  }
}
.form__input:focus {
  border-color: #FEDB3F;
  outline: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.1111111111rem;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 0.5555555556rem;
}
@media screen and (max-width: 768px) {
  .radio {
    margin-bottom: 0.2777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .radio {
    margin-bottom: 0.5555555556rem;
  }
}
.radio--checkbox .radio__visible {
  border-radius: 20%;
}
.radio--checkbox .radio__visible:before {
  background: url(./../img/jackdaw.svg) center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  position: relative;
  border-radius: 50%;
  background: #FFFFFF;
  margin-right: 0.5555555556rem;
}
.radio__visible:before {
  content: "";
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  background: #FEDB3F;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 25%;
  left: 25%;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
}

.radio--checkbox {
  margin-bottom: 2.2777777778rem;
}

.fixed--menu {
  position: fixed;
  top: 40%;
  right: 3%;
  z-index: 100;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.fixed--menu--shadowed {
  color: #000;
}
@media screen and (max-width: 768px) {
  .fixed--menu {
    display: none;
  }
}

.fixed--menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed--menu__item--active .fixed--menu__link {
  border-color: currentColor;
}

.fixed--menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed--menu__link:hover {
  border-color: currentColor;
}
.fixed--menu__link::before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: currentColor;
  position: absolute;
  top: 30%;
  left: 28%;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
}

.footer--container {
  background: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.map-section {
  position: relative;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer--container {
  height: 4.7777777778rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
}
@media screen and (max-width: 480px) {
  .footer--container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 7.2777777778rem;
  }
}

.footer--container__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .footer--container__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.social {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.socials__list {
  margin-top: 0.8333333333rem;
}

.social__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.7777777778rem;
}
.social__item:last-child {
  margin-right: 0;
}

.phone-number {
  font-size: 1.2222222222rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon-elem {
  height: 0.7222222222rem;
  width: 0.6666666667rem;
  margin-right: 0.3333333333rem;
}

.contacts {
  display: inline-block;
}
@media screen and (max-width: 480px) {
  .contacts {
    margin-bottom: 0.6666666667rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts__desc {
  font-style: normal;
  font-weight: 400;
  font-size: 1.1666666667rem;
  margin-top: 0.9444444444rem;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .contacts__desc {
    margin-top: 1.1111111111rem;
  }
}

.phone-number__text--footer {
  color: #292929;
}

.phone-icon__black {
  height: 0.6666666667rem;
  width: 1.3888888889rem;
  fill: black;
  stroke: black;
}

.vk--icon {
  width: 1.3333333333rem;
  height: 0.7777777778rem;
  fill: #B3B3B3;
  stroke: #B3B3B3;
}

.face--icon {
  width: 1.3333333333rem;
  height: 1.3333333333rem;
  fill: #B3B3B3;
  stroke: #B3B3B3;
}

.inst--icon {
  width: 1.3333333333rem;
  height: 1.3333333333rem;
  fill: #B3B3B3;
  stroke: #B3B3B3;
}

.twit--icon {
  width: 1.3333333333rem;
  height: 1.1666666667rem;
  fill: #B3B3B3;
  stroke: #B3B3B3;
}

.hamburger {
  width: 1.3333333333rem;
  height: 1.1111111111rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #FFFFFF;
  height: 0.2222222222rem;
  border-radius: 0.5555555556rem;
}

.slider {
  background: #F8FAF9;
}
.slider .bx-wrapper {
  margin-bottom: 0;
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
@media screen and (max-width: 768px) {
  .slider {
    height: 100vh;
  }
}
.slider__container {
  height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.slider__arrow {
  position: absolute;
  top: 50%;
}
.slider__arrow:hover {
  cursor: pointer;
}
.slider__arrow--left {
  left: 0;
}
.slider__arrow--right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 0;
}
.slider__arrow--icon {
  width: 1.3333333333rem;
  height: 2.2222222222rem;
}
@media screen and (max-width: 768px) {
  .slider__arrow {
    top: 25%;
  }
}
@media screen and (max-width: 480px) {
  .slider__arrow {
    top: 30%;
  }
}
.slider__list {
  width: 100%;
  background: #F8FAF9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  right: 0;
}
.slider__list--wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .slider__list {
    width: 100%;
  }
}
.slider__item {
  width: 38.8888888889rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slide__img--wrap {
  width: 56%;
  margin-left: 5.5555555556rem;
}
@media screen and (max-width: 768px) {
  .slide__img--wrap {
    width: 40%;
    margin-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .slide__img--wrap {
    margin-left: 0;
  }
}
.slide__content {
  width: 50%;
  padding-right: 5.5555555556rem;
}
@media screen and (max-width: 768px) {
  .slide__content {
    width: 75%;
    padding-right: 0;
  }
}
.slide__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.3888888889rem;
  color: #292929;
  text-transform: uppercase;
}
.slide__title--wrap {
  margin-bottom: 1.3333333333rem;
}
.slide__params {
  background: #3A587E;
  border-radius: 0.2222222222rem;
  padding: 0.9444444444rem 0.3888888889rem;
  width: 5rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2.8888888889rem;
}
.slide__params_img {
  width: 2.1111111111rem;
  height: 2.1111111111rem;
}
.slide__params_text {
  font-weight: 700;
  font-size: 0.7777777778rem;
  text-transform: uppercase;
  line-height: 0.9444444444rem;
  color: white;
}
@media screen and (max-width: 768px) {
  .slide__params {
    display: none;
  }
}
.slide__desc {
  color: #666666;
  margin-bottom: 1.3333333333rem;
}
.slide__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.3333333333rem;
}
@media screen and (max-width: 768px) {
  .slide__info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.slide__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .slide__bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.slide__price {
  font-weight: 300;
  font-size: 3.3333333333rem;
  color: #151515;
  margin-right: 1.5555555556rem;
}
.slide__price__two {
  font-weight: 300;
  font-size: 3.3333333333rem;
  color: #151515;
  margin-right: 1.5555555556rem;
  margin-right: 1.1111111111rem;
}
@media screen and (max-width: 480px) {
  .slide__price {
    margin-right: 0.5555555556rem;
    font-size: 2.2222222222rem;
  }
}
.slide__btn {
  height: 3.3333333333rem;
}
@media screen and (max-width: 768px) {
  .slide {
    width: 100%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.info {
  margin-right: 2.7777777778rem;
}
.info:last-child {
  margin-right: 0;
}
.info__title {
  color: #666666;
}
.info__text {
  color: #292929;
  font-weight: 700;
}

.dropdown {
  width: 5rem;
  position: relative;
}

.dropdown:hover .dropdown__menu {
  top: 0rem;
  left: 5rem;
  opacity: 0.9;
}

.dropdown__menu {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.2222222222rem;
  mix-blend-mode: normal;
  width: 14.4444444444rem;
  height: 16.1666666667rem;
  top: 100%;
  padding: 0.8333333333rem;
  left: -555.5rem;
  opacity: 0;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
}

.dropdown__menu::before {
  content: "";
  display: block;
  height: 1.6666666667rem;
  left: 0;
  right: 0;
  top: -0.8333333333rem;
  position: absolute;
}

.dropdown__item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8888888889rem;
  color: #000000;
  margin-bottom: 1.3888888889rem;
}

.drop__img {
  height: 1.7777777778rem;
  width: 1.7777777778rem;
}

.drop__title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 0.6666666667rem;
  font-weight: 500;
  font-size: 0.8888888889rem;
  color: #000000;
}

.drop__text {
  font-weight: 400;
  font-size: 0.8888888889rem;
  color: #000000;
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #2e3336;
  z-index: 1000;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}
.fullscreen-menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fullscreen-menu__close {
  display: block;
  position: absolute;
  top: 1.3888888889rem;
  right: 1.3888888889rem;
}

.fullscreen-menu__close-icon {
  width: 1rem;
  height: 1rem;
  fill: #c2c2c3;
}

.menu {
  margin: 0 1.6666666667rem;
  padding-top: 0.2777777778rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu--vertical {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .menu--vertical {
    display: block;
  }
}
.menu--vertical .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu--vertical .menu__item {
  margin-right: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  margin-right: 1.5rem;
  margin-bottom: 0.5555555556rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}
.menu__link:hover {
  text-decoration: underline;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 2.9444444444rem;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  line-height: 1.1;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .team {
    padding: 0 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .team {
    margin-left: -3.8888888889rem;
  }
}

.team--version--desktop .team__content {
  position: absolute;
  top: 100%;
}
@media screen and (max-width: 768px) {
  .team--version--desktop {
    display: none;
  }
}

.team--version--mobile {
  display: none;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 0;
}
@media screen and (max-width: 768px) {
  .team--version--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.team--version--mobile .team__item {
  margin-bottom: 0.5555555556rem;
}

.team__item {
  position: relative;
  text-align: center;
  margin-right: 1.1111111111rem;
  max-width: 14.4444444444rem;
}
.team__item.active .team__title:after {
  content: "";
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
@media screen and (max-width: 768px) {
  .team__item {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    margin-bottom: 1.9444444444rem;
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .team__item {
    width: auto;
  }
}
.team__item:last-child {
  margin-right: 0;
}

.team__member {
  margin-bottom: 1.1111111111rem;
  height: 16.1111111111rem;
}

.team__member--img {
  width: 100%;
  height: 100%;
}

.team__title {
  color: #323232;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.1666666667rem;
  font-weight: bold;
  margin-bottom: 0.4444444444rem;
}
.team__title:after {
  content: "";
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 0.2222222222rem;
  border-left-width: 0.2222222222rem;
  border-top: 0.3333333333rem solid black;
  border-bottom: 0;
  display: block;
  margin-left: 0.2777777778rem;
}

.team__content {
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  height: 0;
}

.team__content-block {
  padding-bottom: 0.2777777778rem;
}

.team__prof {
  color: #281e1e;
}

.team__content-text {
  font-weight: 300;
}

.modal {
  display: none;
}
.modal.error-modal .modal__content {
  color: red;
}
.modal.fancybox-content {
  padding: 0 !important;
}
.modal .fancybox-button {
  display: none;
}

.modal__container {
  background: #fff;
  padding: 1.9444444444rem 3.3333333333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-error {
  border-color: red;
}

.modal__content {
  margin-bottom: 0.8333333333rem;
  color: #000;
}

.player-section {
  background: #F8FAF9;
}

.player-section__container {
  max-width: 36.6666666667rem;
  height: 22.5rem;
  position: relative;
  margin: 0 auto;
}

.player {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
.player.hidden {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.player__splash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../../img/surfscreen.png") center center/cover no-repeat;
  cursor: pointer;
}
.player__splash:before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: url("../../img/play.svg");
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.player__wrapper {
  height: 100%;
}
.player__wrapper.active .player__splash {
  display: none;
}

.player__controls {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 3%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.9444444444rem;
  background: #404040;
}

.player__start {
  position: relative;
  width: 0;
  height: 0;
  padding: 0;
  border-right-width: 0;
  border: 0.6111111111rem solid transparent;
  border-left-color: #FFFFFF;
  background: transparent;
  outline: none;
}
.player__start.paused {
  width: 0.7777777778rem;
  height: 1.2222222222rem;
  border: none;
}
.player__start.paused:after, .player__start.paused:before {
  content: "";
  display: block;
  position: absolute;
  width: 0.2777777778rem;
  top: 0;
  bottom: 0;
  background: #FFFFFF;
}
.player__start.paused:after {
  right: 0;
}
.player__start.paused:before {
  left: 0;
}

.player__playback {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 0.8888888889rem;
  margin: 0 0.8333333333rem;
}
.player__playback:before {
  content: "";
  height: 0.2222222222rem;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  background: #FEDB3F;
  display: block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.player__playback-button {
  position: absolute;
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  padding: 0;
  background: #FEDB3F;
  border-radius: 2.7777777778rem;
  border: none;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 0;
}

.player__duration {
  color: #FFFFFF;
  font-weight: bold;
}

.player__elem {
  width: 100%;
  height: 100%;
}

.products-menu-section {
  background: url("../../img/Slider.png") center center/cover no-repeat;
  position: relative;
  color: #fff;
}
.products-menu-section:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}

.section__title.products-menu-section__title {
  position: absolute;
  top: 5rem;
  left: 4.4444444444rem;
  color: #fff;
}

.products-menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-menu__title {
  position: relative;
  width: 3.8888888889rem;
}
.products-menu__title:after {
  content: "";
  display: block;
  top: 0;
  bottom: 0rem;
  left: 0;
  right: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
}
.products-menu__title .products-menu__image {
  display: block;
  width: 100%;
  height: 100%;
}

.products-menu__text {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  -webkit-transform: rotate(-90deg) translateY(-50%);
          transform: rotate(-90deg) translateY(-50%);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  white-space: nowrap;
  line-height: 1;
  font-size: 2.2222222222rem;
  font-weight: bold;
}

.products-menu__content {
  background: rgba(47, 50, 52, 0.9);
  width: 0;
  position: relative;
  overflow: hidden;
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
}

.products-menu__container {
  padding: 2.2222222222rem 4.0555555556rem 2.5rem 1.4444444444rem;
}

.products-menu__close {
  position: absolute;
  top: 1.1111111111rem;
  right: 1.3888888889rem;
  border: none;
  background: transparent;
}

.products-menu__close-icon {
  width: 1rem;
  height: 1rem;
  display: block;
  fill: #c2c3c4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.products-menu__close-icon:hover {
  opacity: 0.5;
}