.form{
    display: flex;

    @include tablets{
        padding: 0 20%;
        flex-direction: column;  
    }

     @include phones{
        padding: 0;
    }

    
}
.form__col{
    flex: 1;
    margin-right: rem(17px);
    &:last-child{
        margin-right: 0;
    }
    @include tablets{
        margin-right: 0;
       
    }

}

.form__row{
    display: flex;
    margin-bottom: rem(36px);

    @include tablets{
        margin-bottom: rem(14px);
       
    }


}

.form__block{
    flex: 1;
    margin-right: rem(17px);
    &:last-child{
        margin-right: 0;
    }
}

.form__input{
    width: 100%;
    border: none;
    padding: rem(18px) rem(11px);
    border-radius: rem(4px);
    border: solid rem(3px) transparent;

    @include tablets{
        padding: rem(3px) rem(11px);
       
    }


    &--textarea{
        height: rem(187px);
        resize: none;

        @include tablets{
            height: rem(82px);
        resize: none;
           
        }


    }
    &:focus{
        border-color: #FEDB3F;
        outline: none;
    }

}

.form__controls{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(20px);

     @include phones{
        justify-content: center;
    }

    
}

.form__btns{
    display: flex;
    justify-content: center;
}
