.order--section{
    background: url(../src/img/surfer.svg) top 5% center/contain no-repeat;
    background-color:#1968B1;
    height: 100vh;
    min-height: rem(480px);
    color: white;
    background-size: cover;

   
    
}
