.radio{
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-right: rem(10px);

    @include tablets{
        margin-bottom: rem(5px);
    }

    @include phones{
        margin-bottom: rem(10px);
    }

    &--checkbox{
        .radio__visible{
            border-radius: 20%;

          &:before{
            background:url(../src/img/jackdaw.svg) center center no-repeat;  
                }
        }
    }

}
.radio__elem{
    display: none;

    &:checked ~ .radio__visible{
        &:before{
            display: block;
        }
    }
}
.radio__visible{
    width: rem(25px);
    height: rem(25px);
    position: relative;
    border-radius: 50%;
    background: $white;
    margin-right: rem(10px);

    &:before{
    content: "";
    width: rem(13px);
    height: rem(13px);
    background: #FEDB3F;
    border-radius: 50%;
    position: absolute;
    display: none;
    top: 25%;
    left: 25%;
    transform: translate(-50% -50%);
    }
}
.radio--checkbox{
    margin-bottom: rem(41px);
}
