.fixed--menu{
    position: fixed;
    top: 40%;
    right: 3%;
    z-index: $z-fixed-menu;
    color: #fff;
    transition: .3s;

      &--shadowed {
        color: #000;
      }

    @include tablets {
        display: none;
      }
}

.fixed--menu__item{
    margin-bottom: rem(5px);

    &--active{
        .fixed--menu__link{
            border-color: currentColor;
        }
    }
}
.fixed--menu__link{
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    border: rem(1px) solid transparent;
    display: block;
    position: relative;

    &:hover {
        border-color: currentColor;
      }

    &::before{
        content: "";
        display: block;
        width: rem(6px);
        height: rem(6px);
        border-radius: 50%;
        background: currentColor;
        position: absolute;
        top: 30%;
        left: 28%;
        transform: translate(-50% -50%);
    }
}