<<<<<<< HEAD
.headline{
    text-align: center;
}
.headline__title{
    margin-bottom: 10px;
}
.headline__subtitle{
    padding: 0 30%;
    margin-bottom: 40px;
=======
.headline{
    text-align: center;
}
.headline__title{
    margin-bottom: 10px;
}
.headline__subtitle{
    padding: 0 30%;
    margin-bottom: 40px;
>>>>>>> 6b50312c6d0917b8f99d5de37b3c8028a1f438b3
}