.headline{
    text-align: center;
}
.headline__title{
    margin-bottom: rem(10px);
}
.headline__subtitle{
    padding: 0 30%;
    margin-bottom: rem(40px);

    @include tablets{
        padding: 0 22%;
       
    }

    @include phones{
        padding: 0;
    }
}