.map{
    background: url(./../img/map.svg) center center/contain no-repeat;
    background-color:#1968B1;
    height: 100vh;
    min-height: rem(320px);
    color: white;
    background-size: cover;
    font-weight: bold;

    
}