.radio{
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-right: 10px;

    &--checkbox{
        .radio__visible{
            border-radius: 20%;

          &:before{
            background:url(../img/jackdaw.svg) center center no-repeat;  
                }
        }
    }

}
.radio__elem{
    display: none;

    &:checked ~ .radio__visible{
        &:before{
            display: block;
        }
    }
}
.radio__visible{
    width: 25px;
    height: 25px;
    position: relative;
    border-radius: 50%;
    background: $white;
    margin-right: 10px;

    &:before{
    content: "";
    width: 13px;
    height: 13px;
    background: #FEDB3F;
    border-radius: 50%;
    position: absolute;
    display: none;
    top: 25%;
    left: 25%;
    transform: translate(-50% -50%);
    }
}
.radio--checkbox{
    margin-bottom: 41px;
}
