.slider{
    background: #F8FAF9;
    

    &__container{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &__arrow{
        position: absolute;
        top:50%;

        @include tablets{
                top:25%;
            }

        &:hover{
            cursor: pointer;
        }

        &--left{
            left: 0;

            @include tablets{
                left: rem(100px);
            }
            
        }

        &--right{
            rotate: 180deg;
            right: 0; 
        }

        &--icon{
            width: rem(24px);
            height: rem(40px);
        }
        
    }

    &__list{
        display: flex;
        position: relative;
        right: 0;
        
        &--wrap{
            width: rem(700px);
            overflow: hidden;
            display: flex;
        }
    }

    &__item{
        width: rem(700px);

        @include tablets{
            flex-direction: column;
            text-align: center;
            align-items: center;
        }
    }
}

.slide{
    display: flex;
    justify-content: space-between;

    &__img{
        &--wrap{
            width: 45%;
        }
    }

    &__content{
        width: 50%;

        @include tablets{
            width: 75%;
        }


    }

    &__title{
        font-weight: 700;
        font-size: rem(36px);
        line-height: rem(43px);
        color: $black;
        text-transform: uppercase;

        &--wrap{
            margin-bottom: rem(24px);
        }
    }

    &__params{
        background: #3A587E;
        border-radius: rem(4px); 
        padding: rem(17px) rem(7px);
        width: rem(90px);
        height: rem(90px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: rem(52px);


        &_img{
            width: rem(38px);
            height: rem(38px);
        }

        &_text{
            font-weight: 700;
            font-size: rem(14px);
            text-transform: uppercase;
            line-height: rem(17px);
            color: white;
        }

        @include tablets{
            display: none;
        }
    }


        &__desc{

          
            color: $body;
            margin-bottom: rem(24px);

            @include tablets{
                
            }

            
            
        }

        &__info{
            display: flex;
            margin-bottom: rem(24px);

            @include tablets{
                justify-content: center;
            }

        }

        &__bottom{
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include tablets{
                justify-content: center;
            }
     
        }

        &__price{
        
            font-weight: 300;
            font-size: rem(60px);
            color: #151515;
            margin-right: rem(28px);

            &__two{
                font-weight: 300;
                font-size: rem(60px);
                color: #151515;
                margin-right: rem(28px);
                margin-right: rem(20px);
            }
        }

        &__btn{
            height: rem(60px);
        }
        
        
}

.info{
    margin-right: rem(50px);
    &:last-child{
        margin-right: 0;
    }

    &__title{
        color:$body;
    }

    &__text{
        color:$black;
        font-weight: 700;
       
    }
}